* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    min-width: 1200px !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.box {
    height: 100%;
}

.box-container {
    height: 25px;
    width: 25px;
    border: 1px solid #7D9D9C;
}

.dropdown-item {
    color: #7D9D9C;
}

.dropdown-item:hover {
    color: #576F72;
    background-color: #F0EBE3;
}

.dropdown-item:active {
    color: #576F72;
}

.social_icon--link {
    color: #7D9D9C;
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.social_icon--link:hover {
    color: #576F72;
}

/* Animation Classes */
.stretch {
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.shrink {
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


/* Animations */
@keyframes stretch {
    0% {
        transform: scale(0);
        background-color: #F0EBE3;
        border-radius: 100%;
    }

    50% {
        background-color: #E4DCCF;
    }

    100% {
        transform: scale(1.1);
        background-color: #7D9D9C;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.1);
        background-color: #7D9D9C;
    }

    50% {
        background-color: #E4DCCF;
    }

    100% {
        transform: scale(0);
        background-color: #F0EBE3;
        border-radius: 100%;
    }
}