* {
    padding: 0;
    margin: 0;
}

.box {
    height: 100%;
}

.box-container {
    height: 25px;
    width: 25px;
    border: 1px solid #7D9D9C;
}

.fix-width-lg {
    min-width: 1250px;
    height: 90vh;
}

.inline-float-l {
    float: left;
}

/* Animation Classes */
.stretch {
    animation-name: stretch;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.shrink {
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


/* Animations */
@keyframes stretch {
    0% {
        transform: scale(0);
        background-color: #F0EBE3;
        border-radius: 100%;
    }

    50% {
        background-color: #E4DCCF;
    }

    100% {
        transform: scale(1.1);
        background-color: #7D9D9C;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.1);
        background-color: #7D9D9C;
    }

    50% {
        background-color: #E4DCCF;
    }

    100% {
        transform: scale(0);
        background-color: #F0EBE3;
        border-radius: 100%;
    }
}